
<section class="sign-in-page">

    <div class="form-heading">
        <h1>Sign up Here!</h1>
    </div>
    
    <div class="form-section">
        <form class="signup-form">
            <div>
                <label for="email-signup"> Enter your Email</label>
                <input type="text" class="entry-field" id="email-signup"/>
            </div>
            <div>
                <label for="username-signup">Enter new Username</label>
                <input type="text" class="entry-field" id="username-signup"/>
            </div>
            <div>
                <label for="password-signup">Create new Password</label>
                <input type="password" class="entry-field" id="password-signup"/>
            </div>
            <div>
                <button type="submit" class="login-signup-btn">Create Account</button>
            </div>
        </form>
    </div>

    <a href="/login" class="login-link"> Already have an Account?</a>
</section>

<script src="/public/JavaScript/signup.js"></script>