
<a href="/dashboard" class="backTrack"> &larr; Back to Dash!</a>

<br>
<br>

{{> post-info post}}

{{#if loggedin}}
<form class="comment-form">
    <div>
        <textarea name="comment-body"></textarea>
    </div>

    <div>
        <button type="submit"> Add your Comment</button>
    </div>
</form>
{{/if}}

{{> comments post.comments}}


{{#if loggedin}}
<script src="/public/JavaScript/comment.js"></script>
{{/if}}